/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 229; /*Purple 250 - Green 142 - Blue 230 - Pink 340 -215 good*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 36%, 25%);
    --first-color-second: hsl(var(--hue-color), 36%, 25%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 36%, 25%);
    --title-color: hsl(var(--hue-color), 66%, 55%);
    --text-color: hsl(var(--hue-color), 36%, 25%);
    --text-color-light: hsl(var(--hue-color), 36%, 25%);
    --input-color: hsl(var(--hue-color), 36%, 25%);
    --body-color: hsl(var(--hue-color), 36%, 99%);
    --container-color: #ecedef;
    --scroll-bar-color: hsl(var(--hue-color), 36%, 25%);
    --scroll-thumb-color: hsl(var(--hue-color), 36%, 99%);
    

    /*-------------Dark colors-----------*/
    --first-color-second-dark: hsl(var(--hue-color), 30%, 8%);
    --title-color-dark: hsl(var(--hue-color), 8%, 95%);
    --text-color-dark: hsl(var(--hue-color), 8%, 75%);
    --input-color-dark: hsl(var(--hue-color), 29%, 16%);
    --body-color-dark: hsl(var(--hue-color), 28%, 12%);
    --container-color-dark: hsl(var(--hue-color),38%,29%);
    /* -------------Dark colors--------------*/

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme
{
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 36%, 25%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color),30%,20%);
  transition: 600ms ease-in-out;
}

/* blob */
.blob{
  background-image: url(./2.png);
  width: 270px;
  height: 270px;
  background-size:cover;
  -webkit-background-position: center;
  background-position: center center;
  /* margin: 20px; */
  box-shadow: 0 5px 5px 5px var(--first-color);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
      border-radius: 40% 60% 70% 40% / 50% 60% 30% 60%;
  }
}




/* blob */

/*========== Button Dark/Light ==========*/
.nav__btns
{
  display: flex;
  align-items: center;
}

.change-theme
{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover
{
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 600ms ease-in-out;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav
{
    max-width: 968px; 
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle
{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover
{
    color: var(--first-color);
    /* transition: 0.9s ease; */
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover
{
    color: var(--first-color);
    /* transition: 0.9s ease; */
}

@media screen and (max-width: 767px) 
{
    .nav__menu
    {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px  rgba(0, 0, 0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .4s;
    }   
}

.nav__list
{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__link:hover
{
    color: var(--first-color);
}

.nav__icon
{
    font-size: 1.2rem;
}

.nav__close
{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}

.nav__close:hover
{
  color: var(--first-color);
}

/* show menu */
.show-menu
{
  bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home__container
{
  gap: 1rem;
}

.home__content
{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social
{
  display: grid;
  /* grid-template-columns: max-content; */
  /* column-gap: 0.5 rem; */
}

.home__social-link
{
  /* display: flex;
  padding: .5rem; */
  margin-right: 0.5rem;
  margin-block-end: 1rem;
  color: var(--text-color);
  font-size: 1.8rem;
  transition: transform .4s;
}

.home__social-link:hover
{
  transform: translateY( -.25rem);
}


.home__blob
{
  /* margin-right:15vw; */
  margin-right: 4rem;
  width: 200px;
  fill: var(--first-color);
}


.home__blob-image
{
  width: 320px;
}



.home__data
{
  grid-column: 1/3;
}
.home__title
{
  font-size: var(--big-font-size);
}

.home__subtitle
{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
} 

.home__description
{
  margin-bottom: var(--mb-2);
}


.button
{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}




.button__icon
{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .4s;
  padding-right: 1rem;
}
.button__icon:hover
{
  transform: translateX(3px);
}

.button--flex
{
  display: inline-flex;
  align-items: center;

}

.getTouchButton
{
  border-radius: 1rem;
  margin-bottom: 0.6rem; 
  transition: .4s;
}
.getTouchButton:hover
{
  transform: translateY(-3px);
}


/*==================== BUTTONS ====================*/



/*==================== SKILLS ====================*/
.skills__container
{
  margin: auto;
  row-gap: 3.5rem;
  margin-bottom: 3rem;
  display: block;
  /* margin-left: 0.1rem; */
}

.skills__title
{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills__title i
{
  font-size: 1rem;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob
{
  display: grid;
}
.skills__info
{
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem 2rem;
}

.skills__data
{
  justify-content: center;
  text-align: center;
}

.skills__blob
{
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
}

.skills__blob img
{
  width: 40px;
}
.skills__name
{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills__subtitle
{
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.skills__blob:hover img
{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills
{
  0%
  {
    transform: translate(0);
  }
  20%
  {
    transform: translateY(-6px);
  }
  40%
  {
    transform: translate(0);
  }
  60%
  {
    transform: translateY(-3px);
  }
  80%
  {
    transform: translate(0);
  }
}

/*==================== QUALIFICATION ====================*/

.qualification__tabs
{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button
{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: .3s;
}


.qualification__button:hover
{
  color: var(--first-color);
  transform: scale(1.07)
}

.qualification__icon
{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data
{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;

}

.qualification__title
{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle
{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calender
{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.qualification__rounder
{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.qualification__line
{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--title-color);
  transform: translate(6px,-7px);
}

.qualification [data-content]{
  display: none;  
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active
{
  color: var(--title-color);
  transform: scale(1);
}

/*==================== PROJECTS ====================*/


.project__container
{
  overflow: initial;
}
.project__content
{
  display: grid;
  justify-content: center;
  justify-self: center;
}

.project__img
{
  width: 280px;
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  transition: .4s;
}

.project__img:hover
{
  transform: scale(0.9);
}

.project__title
{
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  /* margin: .5rem 0 1.25rem; */
}

.project__subtitle
{
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.project__button
{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
}


.project__button i
{
  font-size: 1rem;
  transition: transform .3s;
}

.project__button:hover i
{
  transform: translateX(.25rem);
}

/* .project__container .swiper-button-prev::after,
.project__container .swiper-button-next::after
{
  content: '';
}
.project__container .swiper-button-prev,
.project__container .swiper-button-next
{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
} */

.container .swiper-button-prev::after,
.container .swiper-button-next::after
{
  content: '';
}
.container .swiper-button-prev,
.container .swiper-button-next
{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
}

/* .project__container .swiper-button-prev
{
  left: -1rem;
  top: 4.5rem;
}
.project__container .swiper-button-next
{
  right: -1rem;
  top: 4.5rem;
} */

.container .swiper-button-prev
{
  left: -.7rem;
  top: 4.5rem;
}
.container .swiper-button-next
{
  right: -.7rem;
  top: 4.5rem;
}

.project__container .swiper-slide
{
  margin-bottom: 4.5rem;
}
.container .swiper-pagination-bullets
{
  bottom: 0;
}
.container .swiper-pagination-bullet
{
  background-color: var(--text-color-light);
  opacity: initial;
}
.container .swiper-pagination-bullet-active
{
  background-color: var(--title-color);
  opacity: initial;
}
.smth
{
  justify-self: center;
}

/*==================== Hobbies ====================*/
.Hobbies
{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.gallery__container
{
  display: grid;
  gap: 20px;
  width: 100%;
}
.gallery__img
{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: .4s;
}
.gallery__img:hover
{
  transform: scale(1.08);
}


@media only screen and (min-width: 420px)
{
  .gallery__container
  {
    grid-template-columns: repeat(2,1fr);
    width: 80%;
  }
  .gallery__img
  {
    height: 100%;
  }
}
@media only screen and (min-width: 600px)
{
  .Hobbies
  {
    height: 150vh;
  }
  .gallery__container
  {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,120px);
    width: 80%;
  }
  .gallery__img 
  {
    &:nth-of-type(1) {grid-column: 3 / 3 ; grid-row: 2 / span 2 }
    &:nth-of-type(5) {grid-column: 4 / 4 ; grid-row: 1 / span 2 }
    &:nth-of-type(3) {grid-column: 1 / span 2 ; grid-row: 1 / span 2 }
    &:nth-of-type(4) {grid-column: 1 / 1 ; grid-row: 5 / span 1 }
    &:nth-of-type(11) {grid-column: 1 / 1 ; grid-row: 3 / span 3 }
    &:nth-of-type(13) {grid-column: 1 / 1 ; grid-row: 3 / span 1 }
    &:nth-of-type(9) {grid-column: 1 / 1 ; grid-row: 4 / span 1 }
    &:nth-of-type(10) {grid-column: 2 / span 2 ; grid-row: 5 / span 2 }
    &:nth-of-type(12) {grid-column: 4 / 4 ; grid-row: 3 / span 2 }
    &:nth-of-type(14) {grid-column: 2 / 2 ; grid-row: 3 / span 2 }
    &:nth-of-type(13) {grid-column: 4 / 4 ; grid-row: 5 / span 1 }
    
  }
}


/*==================== CONTACT ME ====================*/


.thanks
{
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}

.thanks__container
{
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}


.thanks__data
{
  text-align: center;
}

.thanks__subtitle
{
  display: block;
}
.thanks__title
{
  font-size: var(--big-font-size);
  margin: .75rem 0;
}

.thanks__button
{
  margin-top: 2rem;
  display: inline-block;
  padding: .80rem 1.5rem;
  border-radius: 1rem;
}

.thanks__image img
{
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}
.thanks__image
{
  justify-self: center;
}

.thanks__shadow
{
  width: 120px;
  height: 24px;
  margin-left: 2.8rem;
  margin-top: 0.5rem;
  background-color: hsla(38,21%,19%,.16);
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

@keyframes floaty
{
  0%{
    transform: translateY(0);
  }
  100%
  {
    transform: translateY(20px);
  }
}

@keyframes shadow
{
  0%{
    transform: translateY(0);
  }
  100%
  {
    transform: translateY(20px);
  }
}

@keyframes shadow
{
  0%{
    transform: scale(1,1);
  }
  100%
  {
    transform: scale(.8, .8);
  }
}
/*==================== FOOTER ====================*/
.footer
{
  padding-top: 2rem;
}
.footer__container
{
  row-gap: 3.5rem;
}
.footer__bg
{
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer__title
{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle
{
  font-size: var(--small-font-size);
}

.footer__links
{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover
{
  color: var(--first-color-lighter);
}

.footer__social
{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}
.footer__social:hover
{
  color: var(--first-color-lighter);
}

.footer__copy
{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social
{
  color: var(--text-color);
}
/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-wdith: 350px)
{
  .thanks
  {
    padding-top: 7rem;
  }
  .container
  {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu
  {
    padding: 2rem .25rem 4rem;
  }

  .nav__list
  {
    column-gap: 0;
  }

  .home__content
  {
    grid-template-columns: .25fr 3fr;
  }

  .home__blob
  {
    width: 180px;
  }

  .skills__title
  {
    font-size: var(--normal-font-size);
  }

  .qualification__data
  {
    gap: .5rem;
  }

}

/* For medium devices */
@media screen and(min-width: 568px)
{

  .home__content
  {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data
  {
    grid-column: initial;
  }
  .home__img
  {
    order: 1;
    justify-self: center;
  }
  .temp__container
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .skills__container,
  .project__container
  {
    grid-template-columns: repeat(2,1fr);
  }
  .qualification__sections
  {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
}


@media screen and (min-width: 768px)
{
  .thanks__container
  {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .container
  {
    margin-left: auto;
    margin-right: auto;  
  }
  body
  {
    margin: 0;
  }

  .section
  {
    padding: 6rem 0 2rem;
  }

  .section__subtitle
  {
    margin-bottom: 4rem;
  }

  .header
  {
    top:0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container
  {
    padding: 0 1rem;
  }

  .nav
  {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle
  {
    display: none;
  }
  .nav__list
  {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu
  {
    margin-left: auto;
  }

  .change-theme
  {
    margin: 0;
  }

  .home__container
  {
    row-gap: 5rem;
  }

  .home__content
  {
    grid-template-columns: repeat(3,1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__social
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 0.01rem;
  }

  .home__blob
  {
    width: 270px;
  }

  .qualification__tabs
  {
    justify-content: center;
  }
  .qualification__button
  {
    margin:0 var(--mb-1);
  }

  .qualification__sections
  {
    /* padding-bottom: 10rem; */
    grid-template-columns: .5fr;
  }

  .qualification__para
  {
    margin-bottom: 2rem;
  }

  .project__img
  {
    width: 320px;
  }
  .project__content
  {
    align-items: center;
  }

  .footer__container
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg
  {
    padding: 3rem 0 3.5rem;
  }
  .footer__links
  {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials
  {
    justify-self: flex-end;
  }
  .footer__copy
  {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and(min-wdith: 1024px)
{
  .header,
  .main,
  .footer__container
  {
    padding: 0;
  }
  .home__blob
  {
    width: 320px;
  }
  .home__social
  {
    transform: translateX(-6rem);
  }
  .project__content
  {
    column-gap: 5rem;
  }
  .swiper-project-icon
  {
    font-size: 3.5rem;
  }
  .swiper-button-prev
  {
    left: -3.5rem;
  }
  .swiper-button-next
  {
    right: -3.5rem;
  }

  .thanks__container
  {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .thanks__data
  {
    text-align: initial;
  }
  .thanks__image img
  {
    width: 400px;
  }
  .thanks__shadow
  {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px)
{
  .thanks__container
  {
    margin-left: auto;
    margin-right: auto;
  }
}